.form-control {   
    background-color: #2B2B2B !important;
    color: whitesmoke !important;
}

.btn-default, .btn-primary {
    background-color: #6B6B6B !important;
    color: white !important;
}

.fullScreen {
    background-color: #2b2b2b;
}

.controlPanel {
    background-color: #2b2b2b;
}

.textAreaPanel {
    background-color: #2B2B2B;
}

.active {
    background-color:  black !important;
    color: white !important;
}

.mmodal-content {
    background-color: #2b2b2b;
    color: white;
}

.close {
    color: white;
}

.close:hover,
.close:focus {
    color:gainsboro;
}

.dropdown-item:focus {
    background-color:  black !important;
}

.custom-label {
    color:gainsboro;
}




