
.fullScreen {
    background-color:gainsboro;
}

.controlPanel {
    background-color: gainsboro;
}

.textAreaPanel {
    background-color:gainsboro;
}

.active {
    background-color:  #167ffb !important;
    color: white !important;
}

.mmodal-content {
    background-color: #fefefe;
}

.dropdown-item:focus {
    background-color:  #167ffb !important;
}

