

.btnStyle {
    margin-top: 3px;
    margin-left: 3px;
}

.hiddenfile {
 width: 0px;
 height: 0px;
 overflow: hidden;
}

.controlPanel {
    background: #535353;
    padding-bottom: 3px;
    padding-right: 3px;
}

.hstyle {
	height: 38px;
}

.textAreaPanel {
    background: #535353;
    padding-bottom: 6px;
    padding-top:0px;
    padding-right: 3px;
    padding-left: 3px;
}

.fullScreen {
    position: absolute;
    width: 100%;
    height: 100%;
}
.Count{
    font-weight: 600;
}
.WCount
{
    font-weight: 600;
    margin-left:85px;
}
#charcount, #wordcount
{
    display: inline-block;
}

#textarea{
  height: 100vh !important;
}

/* CSS class for adding placeholder in a div area*/
div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}
.highlight {
    background-color: orange;
  }
